.table-header {
  margin-bottom:5px;
  border:1px solid lightgrey;
  border-radius: 10px;
  margin-right: 10px
}

.chemicalcell {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  height: 30px;
  margin-bottom: 5px;
  margin-left: -1px;
}
  
.pButton{
  height: 20px;
}

.chart-error {
  text-align: center;
  color: grey;
  padding-top: 23%;
}
