.mainContainer {
    height:75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    
  }

.firstRow{
padding-bottom: 10px;
height: 350px;
}

.secondRow{
    padding-bottom: 10px;
    height: 200px;
}

.thirdRow{
    padding-bottom: 10px;
    height: 200px;
}

