.main-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.footer {
    background-color: lightgray;
 }


.left1 {
    width: 0%    
} 

.main1 {
    margin-left: 0%;
    width: 100%;
}

.left2 {
    width: 4%    
} 

.main2 {
    margin-left: 4%;
    width: 96%;
}

.main3 {
    margin-left: 16.5%;
    width: 83.5%;
}
  

      