.main-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding-left:0px;
    padding-right:0px;
    position: fixed;
    }

.footer {
    background-color: lightgray;
 }


.left1 {
    width: 0%    
} 

.main1 {
    margin-left: 0%;
    width: 100%;
}

.left2 {
    width: 4%    
} 

.main2 {
    margin-left: 4%;
    width: 96%;
}

.left3 {
    width: 7%;    
} 

.main3 {
    margin-left: 15%;
    width: 85%;
}
  

      