<header class="topbar">
  <div class="row">
    <div class="col-md-12">
      <div class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #32475a"
        role="navigation">
        <a class="navbar-brand" href="/home">
          <img src="/assets/img/rge1.png" class="navbarlogo" alt="Avatar">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a routerLink='/home' class="nav-link" style="color:white;">
                <em class="fa fa-home"></em><span class="header-size">
                  {{ 'Home' | translate }}</span></a>
            </li>
            <li class="nav-item ">
              <a routerLink='/benchmark' class="nav-link" style="color:white;"><em
                  class="fa fa-dot-circle-o"></em><span class="header-size">
                  {{ 'Benchmark' | translate }}</span></a>
            </li>
            <li *ngIf="selectedMillName === 'Kerinci'" class="nav-item ">
              <a class="nav-link" routerLink='/kappaAnalytics' style="color:white;"><em
                  class="fa fa-snowflake-o "></em><span class="header-size">
                  {{ 'Digester Kappa Analytics' | translate }}</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink='/user' style="color:white;"><em class="fa fa-users"></em><span
                  class="header-size">
                  {{ 'User Management' | translate }}</span></a>
            </li>
          </ul>
          <div class="pull-right">
            <ul class="nav pull-right">
              <li class="nav-item dropdown" id="select_mill">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  style="color:white;font-size: 11pt;border: 1px solid white">{{ selectedMillName | translate }}</a>
                <ul class="dropdown-menu dropdown-menu-local" aria-labelledby="dropdown1">
                  <li *ngFor="let mill of mills"><a class="dropdown-item" style="font-size: 11pt;"
                      (click)="onChangeMill(mill.millId)">{{mill.millName}}</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class=" nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  style="color:white;font-size: 11pt;"> {{ user }} <strong class="caret"></strong></a>
                <ul class="dropdown-menu dropdown-menu-local" aria-labelledby="dropdown1">
                  <li><a routerLink='/profile' class="dropdown-item" style="font-size: 11pt;color: white;"> {{ 'Setting' | translate }}</a></li>
                  <li (click)="logOut()"><a class="dropdown-item" style="font-size: 11pt;">
                      {{ 'Logout' | translate }}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>