<div class="card" style="height: 81vh;">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="font-size: 11pt;width: 5%">#</th>
                    <th style="font-size: 11pt">User Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-size: 11pt">1</td>
                    <td style="font-size: 11pt">Admin</td>
                </tr>
                <tr>
                    <td style="font-size: 11pt">2</td>
                    <td style="font-size: 11pt">Department Head</td>
                </tr>
                <tr >
                    <td style="font-size: 11pt">3</td>
                    <td style="font-size: 11pt">MillOps</td>
                </tr>
                <tr>
                    <td style="font-size: 11pt">4</td>
                    <td style="font-size: 11pt">BCID</td>
                </tr>
                <tr>
                    <td style="font-size: 11pt">5</td>
                    <td style="font-size: 11pt">Finance</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>