.dropdown{
    align-content: left;
}

.label{
    font-size: 15px;
}

.row{
    margin-top: 10px;
    
}

.btn-primary{
    float: right;
    background-color: #32475a;
}

.ui-column-filter{
font-size: 15px;
}

.dataRow{
margin-top:1000px;
}