#main { 
    margin: 0 auto;
    clear: none; 
    display: flex;
}
#sidePanel    {
    background: #D3D3D3;
    float: left;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 0px;
    margin-top: 5px;
    padding-top: 5px;
    width:182px;
    
    
}



#dataGrid{
    background: #ffffff;
    height: 200px;
    
    bottom: 0;
    margin-left: 10px;
    margin-right: 50px;
}

.ui-datatable .ui-datatable-thead > tr > th {
    background: red;
}


        .chart-container {
            width: 90%;
            height: 50%;
          }

          .chartRow{
            height: 400px;
          }
          
          .btn-info{
            background-color: gray;
            border-color: white;
            height: 30px;
          }

     