<div class="container-fluid">
<div class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #32475a" role="navigation">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/rge1.png" class="navbarlogo" alt="Avatar">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a routerLink='/home' class="nav-link" style="color:white;"><i class="fa fa-home"></i><span>
            {{ 'Home' | translate }}</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="color:white;">{{ 'User Management' | translate }}</a>
        <ul class="dropdown-menu dropdown-menu-local" aria-labelledby="dropdown1">
          <li><a (click)="setLang('en')" class="dropdown-item">User Roles</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="color:white;">{{ 'Setup' | translate }}</a>
        <ul class="dropdown-menu dropdown-menu-local" aria-labelledby="dropdown1">
          <li><a [routerLink]="['home/masterDataSetup']" style="color:white;" class="dropdown-item">{{ 'Master Data' | translate }}</a></li>
          <li><a [routerLink]="['/home/benchmarkSetup']" style="color:white;" class="dropdown-item">{{ 'Benchmark' | translate }}</a></li>
        </ul>
      </li>

    </ul>
    <div class="pull-right">
      <ul class="nav pull-right">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="color:white;">{{ 'Select Language' | translate }}</a>
              <ul class="dropdown-menu dropdown-menu-local" aria-labelledby="dropdown1">
                <li><a (click)="setLang('en')" class="dropdown-item">English</a></li>
                <li><a (click)="setLang('ch')" class="dropdown-item">简体中文</a></li>
              </ul>
            </li>
        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="color:white;"> {{ user }} <b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-menu-local" aria-labelledby="dropdown1">
            <li><a class="dropdown-item">  {{ 'Preferences' | translate }}</a></li>
            <li><a class="dropdown-item">  {{ 'Contact Support' | translate }}</a></li>
            <li class="divider"></li>
            <li (click)="logOut()"><a class="dropdown-item">  {{ 'Logout' | translate }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

