<div class="container-fluid" style="padding: 0">
  <p-tabView>
    <p-tabPanel header="Campaign Configuration" leftIcon="fa fa-sun-o" selected="true">
      <ng-template pTemplate="campaign-configuration">
        <div style="height: 83vh;">
          <div *ngIf="campaigns.length > 0">
            <p-table #campaign [columns]="cols" [value]="campaigns" [paginator]="true" [rows]="10" dataKey="campaignId"
              [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="false" sortField="campaignName"
              sortOrder="1">
              <ng-template pTemplate="caption">
                <div class="text-right">
                  <span class="m-l-5" (click)="onCreateCampaign()">
                    <em class="fa fa-user-plus fa-2x" pTooltip="Add Campaign" tooltipPosition="left"></em>
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="text-center" style="width: 4%;"></th>
                  <th class="text-center" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                    pReorderableColumn [style.width]="col.width">
                    <p-sortIcon *ngIf="!col.showEditButton" [field]="col.field" pTooltip="Sort" tooltipPosition="top">
                    </p-sortIcon>
                    {{col.header}}
                  </th>
                </tr>
                <tr class="text-center">
                  <th style="width: 4%;"><i class="fa fa-search"></i></th>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                    <input *ngIf="!col.showEditButton && col.field !== 'active'" pInputText type="text"
                      (input)="campaign.filter($event.target.value, col.field, col.filterMatchMode)"
                      [value]="campaign.filters[col.field]?.value">
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td class="td-role text-center">{{ri + 1}}</td>
                  <td *ngFor="let col of columns">
                    <div *ngIf="col.field === 'date'" class="td-role text-center">{{rowData.startDate}} -
                      {{rowData.endDate}}</div>
                    <div *ngIf="col.field !== 'active' && col.field !== 'date'" class="td-role">{{rowData[col.field]}}
                    </div>
                    <div *ngIf="col.field === 'active' " class="td-role text-center"
                      [style.color]="(rowData[col.field]) ? '#28a745' : 'red'">
                      <i class="fa fa-circle font-10 m-r-10" [pTooltip]="(rowData[col.field]) ? 'Active' : 'InActive'"
                        tooltipPosition="top"></i>
                    </div>
                    <div *ngIf="col.showEditButton" class="text-center">
                      <a *ngIf="col.field === 'productionConfig'" class="font-17" style="color: #3e3e3e;"
                        routerLink="/setup/threshold/production">
                        <em class="fa fa-edit" pTooltip="Edit Production Configuration" tooltipPosition="top"></em></a>
                      <a *ngIf="col.field === 'processLineConfig'" class="font-17" style="color: #3e3e3e;"
                        routerLink="/setup/threshold/production">
                        <em class="fa fa-edit" pTooltip="Edit Production Configuration" tooltipPosition="top"></em></a>
                      <a *ngIf="col.field === 'consumptionConfig'" class="font-17" style="color: #3e3e3e;"
                        routerLink="/setup/threshold/consumption">
                        <em class="fa fa-edit" pTooltip="Edit Consumption Configuration" tooltipPosition="top"></em></a>
                      <a *ngIf="col.field === 'action'" class="font-17" style="color: #3e3e3e;"
                        (click)="onEditCampaign(rowData.campaignId)">
                        <em class="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></em></a>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>