.dropdown{
    align-content: left;
}

.label{
    font-size: 15px;
}

.row{
    margin-top: 10px;
}

.btn-primary{
    float: left;
    background-color: #32475a;
}

.ui-column-filter{
font-size: 15px;
}

.form-control{
    max-width: 175px;
}