<p-tabView>
  <div class="row" id="color_legend" class="color_legend">
    <div class="row"
      style="width: 95%;margin-left:30px; margin-top:0px;height:30px;border:1px solid lightgrey;border-radius: 10px;">
      <div class="row" style=" width:100%;height:30px;">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="dot" style="background-color: #2581c5"></div>
          <div class="labelClass">FL1</div>
          <div class="dot" style="background-color: #48D358"></div>
          <div class="labelClass">FL2</div>
          <div class="dot" style="background-color: #F7C31A"></div>
          <div class="labelClass">FL3</div>
          <div class="dot" style="background-color: #660000"></div>
          <div class="labelClass">PCD</div>
          <div class="dot" style="background-color: #9933FF"></div>
          <div class="labelClass">PD1</div>
          <div class="dot" style="background-color: #99FF99"></div>
          <div class="labelClass">PD2</div>
          <div class="dot" style="background-color: #FFFF99"></div>
          <div class="labelClass">PD3</div>
          <div class="dot" style="background-color: #FF9999"></div>
          <div class="labelClass">PD4</div>
        </div>
      </div>
    </div>
  </div>

  <p-tabPanel header="Production" [selected]="true" >
      <ng-template pTemplate="app-production-dashboard">
    <app-production-dashboard></app-production-dashboard>
  </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Chemical Consumption" [disabled]="disbaleTab">
    <ng-template pTemplate="app-chemical-consumption-dashboard">
      <app-chemical-consumption-dashboard></app-chemical-consumption-dashboard>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Utilities Consumption" [disabled]="disbaleTab">
    <ng-template pTemplate="app-utilities-consumption-dashboard">
      <app-utilities-consumption-dashboard></app-utilities-consumption-dashboard>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Wood Consumption" [disabled]="disbaleTab">
    <ng-template pTemplate="app-wood-consumption-dashboard">
      <app-wood-consumption-dashboard></app-wood-consumption-dashboard>
    </ng-template>
  </p-tabPanel>
 
  <p-tabPanel header="Kappa Number Prediction" [disabled]="disbaleTab">
    <ng-template pTemplate="app-conditional-monitoring">
      <app-kappa-number-prediction></app-kappa-number-prediction>
    </ng-template>
  </p-tabPanel>
</p-tabView>