<div class="container" style="height: 81vh">
  <div class="password-card">
    <div class="card" style="background: #f7f7f7bd">
      <div class="card-title text-center m-t-5">
        <h3 class="title">Change Password</h3>
      </div>
      <div class="card-body">
        <form [formGroup]='passwordForm' (ngSubmit)="onChangePassword()">
          <div class="row">
            <div class="col-sm-12">
              <label class="password-label required">Current Password</label>
              <div class="form-group">
                <input type="password" class="form-control password-input" formControlName="currentPassword">
                <span *ngIf="!passwordForm.get('currentPassword').valid && passwordForm.get('currentPassword').touched">
                  <span *ngIf="passwordForm.get('currentPassword').errors.required" class="error-text">
                    Password is required</span>
                  <span *ngIf="passwordForm.get('currentPassword').hasError('inCorrect')" class="error-text">
                    Invalid password</span>
                </span>
              </div>
              <label class="password-label required">New Password</label>
              <div class="form-group">
                <input type="password" class="form-control password-input" formControlName="newPassword">
                <span *ngIf="!passwordForm.get('newPassword').valid && passwordForm.get('newPassword').touched">
                  <span *ngIf="passwordForm.get('newPassword').errors.required" class="error-text">
                    Password is required</span>
                  <span *ngIf="passwordForm.get('newPassword').hasError('minlength')" class="error-text">
                    Password should be atleast 8 characters</span>
                  <span *ngIf="passwordForm.get('newPassword').errors.notMatch" class="error-text">
                    Current and new password can't be same</span>
                </span>
              </div>
              <label class="password-label required">Confirm Password</label>
              <div class="form-group">
                <input type="password" class="form-control password-input" formControlName="confirmPassword">
                <span *ngIf="!passwordForm.get('confirmPassword').valid && passwordForm.get('confirmPassword').touched">
                  <span *ngIf="passwordForm.get('confirmPassword').errors.required" class="error-text">
                    Confirm Password is required</span>
                  <span *ngIf="passwordForm.get('confirmPassword').errors.mustMatch" class="error-text">
                    Passwords must match</span>
                </span>
              </div>
              <div class="form-group m-t-30">
                <button type="submit" [disabled]="passwordForm.invalid"
                  class="btn btn-primary btn-lg float-right">Save</button>
                <button type="button" class="btn btn-danger btn-lg float-right m-r-5">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="m-t-5">
      <h4 class="title"> Secure password tips:</h4>
      <ul>
        <li><span class="secure-tip">Use at least 8 characters, a combination of numbers and letters is best.</span>
        </li>
        <li><span class="secure-tip">Current & New Passwords can't be same.</span></li>
      </ul>
    </div>
  </div>
</div>