.password-card {
    width: 46%;
    margin-left: 28%;
}

.password-label {
    font-size: 11pt;
    font-weight: 600;
}

.password-input {
    font-size: 12pt;
    height: 40px;
}

.title {
    font-weight: 700;
    font-family: Arial,sans-serif;
}

.secure-tip {
    font-weight: 500;
    font-size: 11pt;
    font-family: Arial,sans-serif;
}
