<div class="container" style="height: 81vh">
  <div class="password-card">
    <div class="card" style="background: #f7f7f7bd">
      <div class="card-title text-center m-t-5">
        <h3 class="title">Change Password</h3>
      </div>
      <div class="card-body">
        <form [formGroup]='passwordForm' (ngSubmit)="onFormSubmit()">
          <div class="row">
            <div class="col-sm-12">
              <label class="password-label required">Current Password</label>
              <div class="form-group">
                <input type="password" class="form-control password-input" formControlName="currentPassword">
              </div>
              <label class="password-label required">New Password</label>
              <div class="form-group">
                <input type="password" class="form-control password-input" formControlName="newPassword">
              </div>
              <label class="password-label required">Confirm Password</label>
              <div class="form-group">
                <input type="password" class="form-control password-input" formControlName="confirmPassword">
              </div>
              <div class="form-group m-t-30">
                <button (click)="onSave()" class="btn btn-primary btn-lg float-right">Save</button>
                <button type="button" class="btn btn-danger btn-lg float-right m-r-5">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="m-t-5">
      <h4 class="title"> Secure password tips:</h4>
      <ul>
        <li><span class="secure-tip">Use at least 8 characters, a combination of numbers and letters is best.</span>
        </li>
        <li><span class="secure-tip">Do not use the same password you have used with us previously.</span></li>
        <li><span class="secure-tip">Do not use dictionary words, your name, e-mail address, mobile phone number or
            other personal
            information that can be easily obtained.</span></li>
        <li><span class="secure-tip">Do not use the same password for multiple online accounts.</span></li>
      </ul>
    </div>
  </div>
</div>