.password-card {
  width: 46%;
  margin-left: 28%;
}

.password-label {
  font-size: 11pt;
  font-weight: 600;
}

.password-input {
  font-size: 12pt;
  height: 40px;
}

.secure-tip {
  font-weight: 500;
  font-size: 11pt;
}

.error-text {
  color: red;
}

.btn-primary.disabled, .btn-primary:disabled {
  opacity: 0.3;
}