<div class="container-fluid mainContainer">
  <div class="row mainRow">
    <div [style.width]="variable1">
      <app-sidebar [kpiTypeId]="'4'" (collapsedEvent)="talkBack($event)"> </app-sidebar>
    </div>
    <div [style.width]="variable2" style="float: right;">
      <div class="row" style="margin-right: 0px;">
        <three-xthree-table [header]="'Wood Consumption - Y\'Day'" [kpiCategoryId]="'4'"></three-xthree-table>
        <div *ngIf="kpiType12show" style="border:1px solid lightgrey;border-radius: 10px;width:49%;margin-right: 10px">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Wood Chip - Total (GMt/Adt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="chaneChartTypeDiv1($event)" [(ngModel)]="checked1">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
               <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('18', 'Wood Chip - Total (GMt/Adt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div1StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId18Data" [xAxis]="true"
                [yAxis]="true" [barPadding]="2" [view]="view"[xAxisLabel]="" [yAxisLabel]=""></ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div1BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId18Data" [xAxis]="true" [yAxis]="true"
                [barPadding]="0" [view]="view"groupPadding="2"></ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

        <div *ngIf="kpiType12show" style="border:1px solid lightgrey;border-radius: 10px;;width:49%">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Chip Meter Avg (GMt/Adt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="chaneChartTypeDiv2($event)" [(ngModel)]="checked2">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
                <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('19', 'Chip Meter Avg (GMt/Adt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div2StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId19Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [view]="view"[showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div2BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId19Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [barPadding]="0" [view]="view"groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

        <div *ngIf="kpiType12show"
          style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;width:49%;margin-right: 10px">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Consumption (GMt/Adt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  styleClass="switchClass" (onChange)="chaneChartTypeDiv3($event)" [(ngModel)]="checked3">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
                <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('20', 'Consumption (GMt/Adt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div3StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId20Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [view]="view"[showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div3BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId20Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [barPadding]="0" [view]="view"groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

        <div *ngIf="kpiType13show" style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;;width:49%">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Yield - Bleaching (%)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="chaneChartTypeDiv4($event)" [(ngModel)]="checked4">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
               <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('21', 'Yield - Bleaching (%)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div4StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId21Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [view]="view"[showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div4BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId21Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [barPadding]="0" [view]="view"groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

        <div *ngIf="kpiType13show"
          style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;;width:49%;margin-right: 10px">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Yield - Cooking (%)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="chaneChartTypeDiv5($event)" [(ngModel)]="checked5">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
             <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('22', 'Yield - Cooking (%)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div5StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId22Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [view]="view"[showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div5BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId22Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [barPadding]="0" [view]="view"groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

        <div *ngIf="kpiType13show" style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;width:49%">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Yield - Screening (%)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="chaneChartTypeDiv6($event)" [(ngModel)]="checked6">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
              <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('23', 'Yield - Screening (%)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div6StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId23Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [view]="view"[showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div6BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId23Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [barPadding]="0" [view]="view"groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>

<p-dialog header={{title}} [(visible)]="AnnotationDialog" [style]="{width: '500px', height: '420px'}">
  <form [formGroup]="createAnnotationForm" (ngSubmit)="saveAnnotation(createAnnotationForm.value)">
    <div class="container-fluid" style="height:420px">

      <div class="row" style="height: 55px;">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="padding: 0px">
          <p-multiSelect [options]="processLines" [style]="{'width':'88%'}" defaultLabel="Production Lines"
            optionLabel="name">
          </p-multiSelect>
        </div>
        <div class="col-md-3">
        </div>

      </div>
      <div class="row" style="height: 60px;">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="padding: 0px">
          <p-calendar formControlName="AnnotationDate" placeholder="Annotation Date" [showIcon]="true"></p-calendar>
        </div>
        <div class="col-md-3">
        </div>

      </div>
      <div class="row" style="height: 170px;">


        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="padding: 0px;">
          <textarea formControlName="AnnotationText" placeholder="Description" rows="7" cols="25"
            pInputTextarea></textarea>
        </div>
        <div class="col-md-3">
        </div>

      </div>
      <div class="row" style="height: 40px;padding-top: 10px;">

        <div class="col-md-3">
        </div>

        <div class="col-md-6" style="padding-right: 25px">
          <span class="pull-right"> <button pButton type="submit" label="Save"></button></span>
        </div>
        <div class="col-md-3">
        </div>

      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header={{title}} [(visible)]="GridDialog" [style]="{width: '700px', height: '500px'}">
  <p-table #dt [columns]="cols" [value]="productonLines" [paginator]="true" [rows]="10" [scrollable]="true"
    scrollHeight="450px">
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download Data" (click)="dt.exportCSV()"
          style="float:right"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" >
      <tr>
        <td *ngFor="let col of columns" [ngClass]="col.field == 'date' ? 'center-align' : 'right-align'">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-toast [style]="{marginTop: '250px'}" position="top-center"></p-toast>