<div *ngIf="gridData.length" style="margin-bottom:5px;border:1px solid lightgrey;border-radius: 10px;width:100%;margin-right: 10px">
  <div class="row" style="height: auto;width:100%;margin: 0px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" style="text-align: center;">
      <h5 style="font-weight: bold">{{header}}</h5>
    </div>
  </div>
  <div class="row" style="height: auto;width:100%;margin: 0px">
    <div *ngFor="let cp of gridData" class="col-md-4" style="border:1px solid lightgrey;border-radius: 10px;">
      <div class="row"
        style="height: auto;text-align: center;width:100%;margin: 0px">
        <div class="col-md-12" style="text-align: center;padding-top:5px">
          <h4 style="font-weight: bold;text-align: center">{{cp.name}}</h4>
        </div>
      </div>
      <div class="row" style="height: auto;width:100%;margin: 0px 0px 2% 0px">
        <div *ngFor="let sr of cp.series | orderBy:'name'" [style.width.%]="100/cp.series.length" class="chemicalcell">
            <h6 style="font-weight: bold;text-align: center;margin-top: 2px;">
              {{sr.name}}</h6>
              
            <h6 [ngStyle]="{'color':sr.color}" style="text-align: center;margin-top: -8px;">{{sr.value}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>