label {
  font-size: 11pt;
  font-weight: 600;
  min-width: 9vh;
}

.edit-input {
  font-size: 12pt;
}

.setup-select {
  color: black;
  font-size: 15px;
  border: 1px solid black;
}

option {
  font-size: 15px;
  border: 1px solid black;
}

th {
  font-size: 11pt;
}

.td-role {
  margin: 3px;
  font-size: 11pt;
}

.font-17 {
  font-size: 17px;
}

.error-text {
  font-weight: 400;
  color: red;
  font-size: 9pt;
}