label {
  font-size: 11pt;
  font-weight: 500;
  min-width: 9vh;
}

.edit-input {
  font-size: 12pt;
}

.setup-select {
  color: black;
  font-size: 15px;
  border: 1px solid black;
}

option {
  font-size: 15px;
  border: 1px solid black;
}
