.container-fluid{
    background: #edf1f5;
    margin-top: 57px;
}


.dot {
    height: 20px;
    width: 20px;
    border-radius: 30%;
    
    margin-left:5px;
    margin-top: 4px;
    float: left;
  }
  
  .labelClass{
    font-weight: bold;
    margin:8px;
    float: left;
  }
  
  .color_legend{
    padding-top:3px;
    height:35px;
    background: white;
    border:1px solid lightgrey;
  }
  
