<div class="container-fluid" style="padding: 0">
  <div *ngIf="showTabs">
    <p-tabView [activeIndex]="index" (onChange)="openSidebar($event)">
      <div class="card">
        <div class="card-body color_legend">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div *ngFor="let legend of processUnitLegends">
                <div class="dot" [style.backgroundColor]="legend.legendColor"></div>
                <div class="labelClass">{{legend.processLineCode}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-tabPanel header="Production" headerStyleClass="production-dashboard-id" leftIcon="fa fa-bar-chart"
        [selected]="selected" [cache]="cacheMap.get('1')">
        <ng-template pTemplate="app-production-dashboard">
          <app-production-dashboard></app-production-dashboard>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Chemical Consumption" leftIcon="fa fa-flask" [disabled]="disableTab" [cache]="cacheMap.get('2')">
        <ng-template pTemplate="app-consumption-dashboard">
          <app-consumption-dashboard [kpiCategoryId]="'2'"></app-consumption-dashboard>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Utilities Consumption" leftIcon="fa fa-th-large" [disabled]="disableTab" [cache]="cacheMap.get('3')">
        <ng-template pTemplate="app-utilities-consumption-dashboard">
          <app-consumption-dashboard [kpiCategoryId]="'3'"></app-consumption-dashboard>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Wood Consumption" leftIcon="fa fa-leaf" [disabled]="disableTab" [cache]="cacheMap.get('4')">
        <ng-template pTemplate="app-wood-consumption-dashboard">
          <app-consumption-dashboard [kpiCategoryId]="'4'"></app-consumption-dashboard>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>