.dot {
  height: 20px;
  width: 20px;
  border-radius: 30%;

  margin-left: 5px;
  margin-top: 4px;
  float: left;
}

.labelClass {
  font-weight: bold;
  margin: 8px;
  float: left;
}

.color_legend {
  padding: 0;
  padding-top: 4px;
  height: 35px;
}