<div class="dashboard-container" style="height: 83vh;">
    <div class="row m-t-10">
      <div class="col-md-4" style="padding-left: 45px;">
      </div>
      <div class="col-md-4">
        <div class="card card-color m-t-5">
          <div class="card-title text-center m-t-5">
            <h3>Annual Configuration</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="required">Working Days</label>
                      <div class="form-group">
                        <input type="number" class="form-control edit-input" value="350">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="required">Annual Target</label>
                      <div class="form-group">
                        <input type="number" class="form-control edit-input" value="290000000">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row m-t-30">
              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg float-right" (click)="onSubmit()">Submit</button>
                  <button type="button" (click)="onCancel()"
                    class="btn btn-danger btn-lg float-right m-r-5">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>