<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="container-fluid">
        <form class="form-inline">
            <div class="list-group">
                <div class="form-group">
                    <label class="labelClass"><i class="fa fa-fw fa-globe"></i></label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p-dropdown [options]="countries" [hidden]="hide" optionLabel="countryName">
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <label class="labelClass"><i class="fa fa-fw fa-location-arrow"></i></label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p-dropdown [options]="mills" [hidden]="hide" optionLabel="millName"></p-dropdown>
                </div>
                <div class="form-group">
                    <label class="labelClass"><i class="fa fa-fw fa-tags"></i></label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p-dropdown [options]="businessUnits" [hidden]="hide" optionLabel="businessUnitName">
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <label class="labelClass"><i class="fa fa-fw fa-wrench"></i></label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p-multiSelect [options]="kpiTypes"  [hidden]="hide"
                        [panelStyle]="{minWidth:'12em'}" [style]="{width: '173px'}" [(ngModel)]="chemicalConsumptionEnquiry.KPITypes" [ngModelOptions]="{standalone: true}" scrollHeight="250px" defaultLabel="KPI Type"
                        optionLabel="kpiTypeName"></p-multiSelect>

                       
                </div>
                <div class="form-group">
                    <label class="labelClass"><i class="fa fa-fw fa-th-list"></i></label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p-multiSelect [options]="processLines" [hidden]="hide" [style]="{width: '173px'}" [panelStyle]="{minWidth:'14em'}"
                     defaultLabel="Process Lines" scrollHeight="200px" [(ngModel)]="chemicalConsumptionEnquiry.PLines" [ngModelOptions]="{standalone: true}" optionLabel="header">
                    </p-multiSelect>
                </div> 
                <div class="form-group">
                    <label class="labelClass"><i class="fa fa-fw fa-calendar"></i></label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <ejs-daterangepicker [hidden]="hide" class="daterangepicker" id='daterangepicker'
                       [(ngModel)]="chemicalConsumptionEnquiry.date" [ngModelOptions]="{standalone: true}" placeholder="{{ '    Date Range' | translate }}">
                    </ejs-daterangepicker>
                    <div class="toggle-button" style="width:5px;padding: 0px" [ngClass]="{collapsed: collapsed}"
                    (click)="toggleCollapsed()">
                    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>
                </div>
                </div>
                <div class="form-group">
                        <label class="labelClass"><i class="fa fa-fw fa-tags"></i></label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <p-dropdown [options]="frequencies" [hidden]="hide" [(ngModel)]="chemicalConsumptionEnquiry.selectedValue" [ngModelOptions]="{standalone: true}" optionLabel="name" >
                        </p-dropdown>
                    </div>
               
                    <div class="form-group">
                    <button pButton [hidden]="hide" type="button" label="Apply" (click)="searchData()" class="ui-button-primary"
          style="background-color: #007ad9;height:30px;margin-top: 10px;margin-left: 70%"></button>
                </div>
            </div>
        </form>
    </div>
</nav>