<div class="container-fluid mainContainer">
  <div class="row mainRow">
    <div [style.width]="variable1">
      <app-sidebar [kpiTypeId]="'2'" (collapsedEvent)="talkBack($event)"> </app-sidebar>
    </div>
    <div [style.width]="variable2" style="float: right;">
      <div class="row" style="margin-right: 0px;">
        <three-xthree-table [header]="'Chemical Consumption - Y\'Day'" [kpiCategoryId]="'2'"></three-xthree-table>
        <div *ngIf="kpiType8show" style="border:1px solid lightgrey;border-radius: 10px;width:49%;margin-right: 10px">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">White Liquor (m3/ADt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
              <div class="col-md-6">
              </div>
            <div class="col-md-5">
          <!--  <div class="btn-group" style="float: right;margin-top: 2px;">
              <button type="button" #input2 (click)="changeChartTypeDiv10('line')"  class="btn btn-primary">Line</button>    
            <button type="button" (click)="changeChartTypeDiv10('bar')" class="btn btn-primary">Bar</button>
                <button type="button" (click)="changeChartTypeDiv10('stack')" class="btn btn-primary">Stack</button>
                
              </div>  -->

              <div class="switch-toggle switch-3 switch-candy-blue" style="background-color: #89CFF0; margin-top: 2px;">
                  <input id="on" name="state-d" [value]="on"  [checked]="value === 'on'"  type="radio" checked="checked" (change)="changeChartTypeDiv10('line')" >
                  <label  for="on">Line</label>

                  <input id="na" name="state-d"  [value]="na" [checked]="value === 'na'"  type="radio"  (change)="changeChartTypeDiv10('stack')">
                  <label for="na" >Stack</label>

                  <input id="off" name="state-d"  [value]="off"  [checked]="value === 'off'"  type="radio" (change)="changeChartTypeDiv10('bar')">
                  <label for="off" >Bar</label>

                  <a></a>
              </div>

            </div>
<div class="col-md-1" >
              <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('11','White Liquor (m3/ADt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div10StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId11Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div10BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId11Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [barPadding]="0" groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
           <div class="col-md-12" *ngIf="div10LineChart" style="height:250px;display: grid;">
              <ngx-charts-line-chart  [scheme]="colorSchemeForLineChart" [view]="view" [results]="kpiId11LineData" [gradient]="gradient"
              [xAxis]="true" [yAxis]="true" xScaleMin="0" [legend]="false" [showXAxisLabel]="false" (select)="onSelect($event,'11')"
              [showYAxisLabel]="false" [xAxisTickFormatting]="xAxisTickFormattingFn" [xAxisLabel]="" [yAxisLabel]=""> </ngx-charts-line-chart>
            </div>

          </div>
        </div>
        <div *ngIf="kpiType2show" style="border:1px solid lightgrey;border-radius: 10px;width:49%;margin-right: 10px">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">ClO<sub>2</sub> - Consumption (kg/ADt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="changeChartTypeDiv1($event)" [(ngModel)]="checked1">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
                <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('2', 'ClO2 - Consumption (kg/ADt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div1StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId2Data" [xAxis]="true"
                [yAxis]="true" [barPadding]="2" [view]="view" [xAxisLabel]="" [yAxisLabel]=""></ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div1BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId2Data" [xAxis]="true" [yAxis]="true"
                [barPadding]="0" [view]="view" groupPadding="2"></ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

   
        <div *ngIf="kpiType4show" style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;;width:49%">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">H<sub>2</sub>O<sub>2</sub> (kg/ADt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="changeChartTypeDiv4($event)" [(ngModel)]="checked4">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
                <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('5', 'H2O2 (kg/ADt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div4StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId5Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [showDataLabel]="false" [view]="view" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div4BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId5Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [barPadding]="0" groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

        <div *ngIf="kpiType5show"
          style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;;width:49%;margin-right: 10px">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">NaOH Own (kg/ADt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="changeChartTypeDiv5($event)" [(ngModel)]="checked5">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
                <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('6','NaOH Own (kg/ADt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div5StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId6Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div5BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId6Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [barPadding]="0" groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>

        <div *ngIf="kpiType5show" style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;width:49%">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">NaOH Purchased (kg/ADt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="changeChartTypeDiv6($event)" [(ngModel)]="checked6">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
               <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('7','NaOH Purchased (kg/ADt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div6StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId7Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div6BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId7Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [barPadding]="0" groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>


 <div *ngIf="kpiType3show"
 style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;width:49%;margin-right: 10px">
 <div class="row"
   style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
   <div class="col-md-12" style="text-align: center;padding-top:5px">
     <h4 style="font-weight: bold;text-align: center">Defoamer (kg/ADt)</h4>
   </div>
 </div>
 <div class="row" style="height: 30px;width:100%;margin: 0px">
   <div class="col-md-4">
   </div>
   <div class="col-md-3">
   </div>
   <div class="col-md-5" style="padding: 0px;margin-left: 65%">
     <div class="row" style="float:right;width:100%;margin-top: 3px;">
       <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
         styleClass="switchClass" (onChange)="changeChartTypeDiv3($event)" [(ngModel)]="checked3">
       </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
      <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('4', 'Defoamer (kg/ADt)')"
           class="fa fa-download fa-2x" aria-hidden="true"></i></label>
     </div>
   </div>
 </div>
 <div Class="row" style="width:95%;margin: 0px">
   <div class="col-md-12" *ngIf="div3StackChart" style="height:250px;display: grid;">
     <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId4Data" [gradient]="gradient"
       [xAxis]="true" [yAxis]="true" [view]="view" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
       [barPadding]="2" [showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
     </ngx-charts-bar-vertical-stacked>
   </div>
   <div class="col-md-12" *ngIf="div3BarChart" style="height:250px;display: grid;">
     <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId4Data" [gradient]="gradient"
       [xAxis]="true" [yAxis]="true" [view]="view" [barPadding]="0" groupPadding="2" [legend]="false"
       [showXAxisLabel]="false" [showYAxisLabel]="false">
     </ngx-charts-bar-vertical-2d>
   </div>
 </div>
</div>
      

        <div *ngIf="kpiType7show"
          style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;;width:49%;margin-right: 10px">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Sulfuric Acid H<sub>2</sub>SO<sub>4</sub> (kg/ADt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="changeChartTypeDiv9($event)" [(ngModel)]="checked9">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
                 <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('10', 'Sulphuric Acid H2SO4 (kg/ADt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div9StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId10Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div9BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId10Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [barPadding]="0" groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>


        <div *ngIf="kpiType6show" style="margin-top:5px;border:1px solid lightgrey;border-radius: 10px;width:49%">
          <div class="row"
            style="height: 30px;text-align: center;border-bottom: 1px solid lightgray;width:100%;margin: 0px">
            <div class="col-md-12" style="text-align: center;padding-top:5px">
              <h4 style="font-weight: bold;text-align: center">Oxygen (kg/ADt)</h4>
            </div>
          </div>
          <div class="row" style="height: 30px;width:100%;margin: 0px">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5" style="padding: 0px;margin-left: 65%">
              <div class="row" style="float:right;width:100%;margin-top: 3px;">
                <H6 style="margin-top:3px">Bar</H6>&nbsp;<p-inputSwitch [style]="{width: '35px', height: '20px'}"
                  (onChange)="changeChartTypeDiv8($event)" [(ngModel)]="checked8">
                </p-inputSwitch> &nbsp;<H6 style="margin-top:3px">Stack</H6>&nbsp;&nbsp;&nbsp;
               <label style="float: right;margin-top: 2px;"><i (click)="showGridDialog('9','Oxygen (kg/ADt)')"
                    class="fa fa-download fa-2x" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div Class="row" style="width:95%;margin: 0px">
            <div class="col-md-12" *ngIf="div8StackChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="kpiId9Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false"
                [barPadding]="2" [showDataLabel]="false" [xAxisLabel]="" [yAxisLabel]="">
              </ngx-charts-bar-vertical-stacked>
            </div>
            <div class="col-md-12" *ngIf="div8BarChart" style="height:250px;display: grid;">
              <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="kpiId9Data" [gradient]="gradient"
                [xAxis]="true" [yAxis]="true" [view]="view" [barPadding]="0" groupPadding="2" [legend]="false"
                [showXAxisLabel]="false" [showYAxisLabel]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>


       
      


     


      </div>
    </div>
  </div>
</div>

<p-dialog header={{title}} [(visible)]="GridDialog" [style]="{width: '700px', height: '500px'}">
  <p-table #dt [columns]="cols" [value]="productonLines" [paginator]="true" [rows]="10" [scrollable]="true"
    scrollHeight="450px">
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download Data" (click)="dt.exportCSV()"
          style="float:right"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" >
      <tr>
        <td *ngFor="let col of columns" [ngClass]="col.field == 'date' ? 'center-align' : 'right-align'">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="Annotations for Chemical Consumption on {{annotationDate}}" [responsive]="true"
  [style]="{width: '800px', minWidth: '200px',height: '800px'}" [minY]="70" [baseZIndex]="10000"
  [(visible)]="displayAnnotations">
  <p-panel header="Create Annotation" [collapsed]="createAnnotationCollapsed"
    (onBeforeToggle)="createAnnotationBeforeToggle()" [toggleable]="true">


    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
          <div class="container-fluid" style="height:135px">

            <div class="row" style="height: 90px;">
              <div class="col-md-4">
                <p-multiSelect [options]="processLinesForAnnotation" scrollHeight="80px" [(ngModel)]="annotationProcessLines"
                  [ngModelOptions]="{standalone: true}" [style]="{'width':'60%'}" defaultLabel="Process Lines"
                  optionLabel="processLineName">
                </p-multiSelect>
              </div>

              <div class="col-md-4">
                <textarea placeholder="Description" rows="2" [(ngModel)]="annotationDescription" cols="25"
                  pInputTextarea></textarea>
              </div>
            </div>

            <div class="row" style="height: 40px;padding-top: 10px;">

              <div class="col-md-3">
              </div>

              <div class="col-md-6" style="padding-right: 25px">

              </div>
              <div class="col-md-3">
                <span class="pull-right"> <button pButton type="button" (click)="createAnnotation()"
                    label="Save"></button></span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>

  <p-panel header="View Annotations" [collapsed]="findAnnotationCollapsed"
    (onBeforeToggle)="findAnnotationBeforeToggle()" [toggleable]="true">


    <div class="container">
      <div class="row" style="height: 320px">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
          <p-table [columns]="annotationsCols" [value]="annotationsLines" [paginator]="true" [rows]="10"
            [scrollable]="true" scrollHeight="300px">

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" class="text-center">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td class="text-right" *ngFor="let col of columns" class="text-center">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </p-panel>
</p-dialog>

<p-toast [style]="{marginTop: '250px'}" position="top-center"></p-toast>