label {
  font-size: 11pt;
  font-weight: 600;
}

.edit-input {
  font-size: 12pt;
  height: 40px;
}

.setup-select {
  color: black;
  font-size: 15px;
  border: 1px solid black;
}

option {
  font-size: 15px;
  border: 1px solid black;
}
