<div class="dashboard-container" style="height: 83vh;">
  <div class="row card-color">
    <div class="col-md-9">
      <div class="form-inline pull-right p-t-5 m-b-5">
        <label class="m-r-5">Campaign : </label>
        <select class="form-control setup-select">
          <option disabled value="" selected>Select Campaign</option>
          <option selected value="">2019 Campaign (01/01/2019 - 31-12-2019) Pulp</option>
          <option selected value="">Summer (01/05-2019 - 01/08-2019) Pulp</option>
          <option selected value="">Winter (09/05-2019 - 01/01-2020) Pulp</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-inline p-t-5 m-b-5">
        <label class="m-r-5">Process Line : </label>
        <select class="form-control setup-select">
          <option disabled value="">Select Process Line</option>
          <option selected value="">FL1</option>
          <option value="">FL2</option>
          <option value="">FL3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row m-t-10">
    <div class="col-md-3" style="padding-left: 45px;">
      <div class="card card-color  m-t-5">
        <div class="card-body">
          <ul style="list-style:outside none none;">
            <li>
              <h5><em class="fa fa-square" style="color: red"></em> Low</h5>
            </li>
            <li>
              <h5><em class="fa fa-square" style="color: yellow"></em> Average</h5>
            </li>
            <li>
              <h5><em class="fa fa-square" style="color: green"></em> Good</h5>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-color m-t-5">
        <div class="card-title text-center m-t-5">
          <h3>Process Line Threshold Configuration</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <label class="required">Threshold / Budget</label>
                    <div class="form-group">
                      <input type="number" class="form-control edit-input" value="2125">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label class="required">Maximum Value</label>
                    <div class="form-group">
                      <input type="number" class="form-control edit-input" value="2500">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-5">
              <div class="gauge-center m-t-10">
                <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [options]="options"
                  [bottomLabel]="bottomLabel"></rg-gauge-chart>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group m-t-30">
                <button type="submit" class="btn btn-primary btn-lg float-right" (click)="onSubmit()">Submit</button>
                <button type="button" (click)="onCancel()"
                  class="btn btn-danger btn-lg float-right m-r-5">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>