<div *ngIf="sidebarForm !== undefined && showSidebar">
    <div *ngIf="sidebarForm.type === 'dashboard'">
        <nav class="sidebar" [ngClass]="{sidebarPushRight: sidebarForm.isActive, collapsed: sidebarForm.collapsed}">
            <div class="container-fluid">
                <form class="form-inline">
                    <div class="list-group">
                        <!-- <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-globe"></i></label>
                            <p-dropdown [options]="sidebarForm.countries" [hidden]="sidebarForm.hide"
                                [(ngModel)]="searchKpiData.country" [ngModelOptions]="{standalone: true}"
                                optionLabel="countryName">
                            </p-dropdown>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i
                                    class="fa fa-fw fa-location-arrow"></i></label>
                            <p-dropdown [options]="sidebarForm.mills" [(ngModel)]="searchKpiData.mill"
                                [ngModelOptions]="{standalone: true}" [hidden]="sidebarForm.hide"
                                optionLabel="millName">
                            </p-dropdown>
                        </div> -->
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-tags"></i></label>
                            <p-dropdown [options]="sidebarForm.buisnessUnits" [hidden]="sidebarForm.hide"
                                [(ngModel)]="searchKpiData.businessUnit" [ngModelOptions]="{standalone: true}"
                                optionLabel="buTypeName">
                            </p-dropdown>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-wrench"></i></label>
                            <p-multiSelect [options]="sidebarForm.kpiTypes" [hidden]="sidebarForm.hide"
                                [panelStyle]="{minWidth:'12em'}" [style]="{width: '173px'}" 
                                [(ngModel)]="searchKpiData.kpiTypes" [ngModelOptions]="{standalone: true}"
                                scrollHeight="250px" defaultLabel="KPI Type" optionLabel="kpiTypeName" >
                            </p-multiSelect>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-th-list"></i></label>
                            <p-multiSelect [options]="sidebarForm.processLines" [hidden]="sidebarForm.hide"
                                [style]="{width: '173px'}" [panelStyle]="{minWidth:'14em'}" defaultLabel="Process Lines"
                                scrollHeight="200px" [(ngModel)]="searchKpiData.processLines"
                                [ngModelOptions]="{standalone: true}" optionLabel="processLineCode">
                            </p-multiSelect>
                            <div class="toggle-button" style="width:5px;padding: 0px"
                                [ngClass]="{collapsed: sidebarForm.collapsed}" (click)="toggleCollapsed()">
                                <i class="fa fa-fw fa-angle-double-{{sidebarForm.collapsed?'right':'left'}}"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-calendar"></i></label>
                            <ejs-daterangepicker [hidden]="sidebarForm.hide" class="daterangepicker"
                                id='daterangepicker' [(ngModel)]="searchKpiData.date"
                                [ngModelOptions]="{standalone: true}" placeholder="{{'  Date Range' | translate }}">
                            </ejs-daterangepicker>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-tags"></i></label>
                            <p-dropdown [options]="sidebarForm.frequencies" [hidden]="sidebarForm.hide"
                                [(ngModel)]="searchKpiData.frequency" [ngModelOptions]="{standalone: true}"
                                optionLabel="name">
                            </p-dropdown>
                        </div>
                        <div class="form-group">
                            <button pButton [hidden]="sidebarForm.hide" type="button" label="Apply"
                                (click)="searchData('dashboard')" class="ui-button-primary"
                                style="background-color: #007ad9;height:30px;margin-top: 10px;margin-left: 70%"></button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div *ngIf="sidebarForm.type === 'benchmark'">
        <nav class="sidebar" [ngClass]="{sidebarPushRight: sidebarForm.isActive, collapsed: sidebarForm.collapsed}">
            <div class="container-fluid">
                <form class="form-inline">
                    <div class="list-group">
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-tags"></i></label>
                            <p-dropdown [options]="sidebarForm.buisnessUnits" [hidden]="sidebarForm.hide"
                                optionLabel="buTypeName">
                            </p-dropdown>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-location-arrow"></i></label>
                            <p-multiSelect [(ngModel)]="searchKpiData.mills" [ngModelOptions]="{standalone: true}"
                            [class]="(!sidebarForm.millsError) ? '' : 'error'"
                            [options]="sidebarForm.mills" [hidden]="sidebarForm.hide"
                                [panelStyle]="{minWidth:'12em'}" [style]="{width: '173px'}" scrollHeight="250px"
                                defaultLabel="Mill" optionLabel="millName">
                            </p-multiSelect>
                            
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-wrench"></i></label>
                            <p-multiSelect [options]="sidebarForm.kpiTypes" [hidden]="sidebarForm.hide"
                                [panelStyle]="{minWidth:'12em'}" [style]="{width: '173px'}" scrollHeight="250px"
                                defaultLabel="KPI Type" optionLabel="kpiTypeName">
                            </p-multiSelect>
                            <div class="toggle-button" style="width:5px;padding: 0px"
                                [ngClass]="{collapsed: sidebarForm.collapsed}" (click)="toggleCollapsed()">
                                <i class="fa fa-fw fa-angle-double-{{sidebarForm.collapsed?'right':'left'}}"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-calendar"></i></label>
                            <ejs-daterangepicker [hidden]="sidebarForm.hide"
                                [class]="(!sidebarForm.dateError) ? 'daterangepicker' : 'daterangepicker error'"
                                id='daterangepicker' [(ngModel)]="searchKpiData.date"
                                [ngModelOptions]="{standalone: true}" placeholder="{{'  Date Range' | translate }}">
                            </ejs-daterangepicker>
                        </div>
                        <div class="form-group">
                            <label class="labelClass"><i class="fa fa-fw fa-tags"></i></label>
                            <p-dropdown [options]="sidebarForm.frequencies" [hidden]="sidebarForm.hide"
                                optionLabel="name">
                            </p-dropdown>
                        </div>
                        <div class="form-group">
                            <button pButton [hidden]="sidebarForm.hide" type="button" label="Apply"
                                (click)="searchBenchmarkData()" class="ui-button-primary"
                                style="background-color: #007ad9;height:30px;margin-top: 10px;margin-left: 70%"></button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>