.edit {
  width: 80%;
  margin-left: 10%;
}

.edit-label {
  font-size: 11pt;
  font-weight: 600;
}

.edit-input {
  font-size: 12pt;
  height: 40px;
}

.error-text {
  font-size: 10pt;
  color: red;
}

.btn-primary.disabled,
.btn-primary:disabled {
  opacity: 0.3;
}
