<div class="container" style="height: 81vh">
  <div class="edit">
    <div class="card" style="background: #f7f7f7bd">
      <div class="card-title text-center m-t-5">
        <h3 class="title">Profile Settings</h3>
      </div>
      <div class="card-body">
        <form [formGroup]='userDetailForm' (ngSubmit)="onEditProfileSave()">
          <div class="row">
            <div class="col-sm-6">
              <label class="edit-label required">First Name</label>
              <div class="form-group">
                <input type="text" class="form-control edit-input" formControlName="firstName">
                <span class="help-block"
                  *ngIf="!userDetailForm.get('firstName').valid && userDetailForm.get('firstName').touched">
                  <span *ngIf="userDetailForm.get('firstName').errors['required']" class="error-text">First name is
                    required</span>
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="edit-label required">Last Name</label>
              <div class="form-group">
                <input type="text" class="form-control edit-input" formControlName="lastName">
                <span class="help-block"
                  *ngIf="!userDetailForm.get('lastName').valid && userDetailForm.get('lastName').touched">
                  <span *ngIf="userDetailForm.get('lastName').errors['required']" class="error-text">Last name is
                    required</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="edit-label required">Email</label>
              <div class="form-group">
                <input type="email" class="form-control edit-input" formControlName="email">
                <span class="help-block"
                  *ngIf="!userDetailForm.get('email').valid && userDetailForm.get('email').touched">
                  <span *ngIf="userDetailForm.get('email').errors?.required" class="error-text">
                    Email is required</span>
                  <span *ngIf="userDetailForm.get('email').errors?.email" class="error-text">
                    Invalid email</span>
                  <span *ngIf="userDetailForm.get('email').errors?.emailExit" class="error-text">
                    Email already exist</span>
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="edit-label">Phone</label>
              <div class="form-group">
                <input type="text" class="form-control edit-input" formControlName="phone">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label class="edit-label">Address</label>
              <div class="form-group">
                <input type="text" class="form-control edit-input" formControlName="address">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="edit-label">Country</label>
              <div class="form-group">
                <select name="" id="" class="form-control edit-input" style="height: 40px;"
                  (change)="onCountryChange($event.target.value)">
                  <option *ngFor="let country of userDetailForm.controls.countryList.controls"
                    [selected]="(country.value.countryName === userDetailForm.controls.country.value)"
                    class="edit-input" [value]="country.value.countryName">
                    {{country.value.countryName}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="edit-label required">Department</label>
              <div class="form-group">
                <select name="" id="" class="form-control edit-input" style="height: 40px;"
                  (change)="onDepartmentChange($event.target.value)">
                  <option *ngFor="let department of userDetailForm.controls.departmentList.controls"
                    [selected]="(department.value.departmentName === userDetailForm.controls.department.value)"
                    class="edit-input" [value]="department.value.departmentId">
                    {{department.value.departmentName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group m-t-30">
            <button type="submit" [disabled]="!userDetailForm.valid"
              class="btn btn-primary btn-lg float-right">Save</button>
            <button type="button" (click)="onCancel()" class="btn btn-danger btn-lg float-right m-r-5">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>