.save-button {
    margin-left: 50px;
    height: 30px;
}

.error-text {
    font-weight: 500;
    color: red;
}

body .ui-table .ui-table-thead > tr > th {
    max-width: 50px;
}

.edit-label {
    font-size: 10pt;
    font-weight: 600;
}

.edit-input {
    margin-top: -5px;
    font-size: 12pt;
    height: 37px;
}