<div *ngIf="dialogName === 'annotation'">
    <p-dialog modal="true" header="Annotations for Production on {{annotationDialog.annotationDate}}"
        [responsive]="true" [style]="{width: '800px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000"
        [(visible)]="annotationDialog.displayAnnotations">
        <p-panel #annotationPanel header="Create Annotation" [collapsed]="!annotationDialog.collapsed"
            [toggleable]="true" (onBeforeToggle)="annotationCollapse()">
            <div class="card" style="height: 350px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p-multiSelect [options]="annotationDialog.processLinesForAnnotation" scrollHeight="250px"
                                [(ngModel)]="annotationDialog.annotationProcessLines"
                                [ngModelOptions]="{standalone: true}" [style]="{'width':'70%'}"
                                defaultLabel="Process Lines" optionLabel="processLineCode"
                                (onChange)="onPorocessLineValidation()">
                            </p-multiSelect>
                            <div *ngIf="annotationDialog.isProcessLineError">
                                <label
                                    class="labelClass error-text">{{annotationDialog.processLineErrorMessage}}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <textarea placeholder="Description" rows="2" cols="25"
                                [(ngModel)]="annotationDialog.annotationDescription" pInputTextarea
                                (keyup)="onDescriptionValidation()"></textarea>
                            <div *ngIf="annotationDialog.isDescriptionError">
                                <label
                                    class="labelClass error-text">{{annotationDialog.descriptionErrorMessage}}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button
                                [disabled]="annotationDialog.isDescriptionError || annotationDialog.isProcessLineError"
                                class="save-button" pButton type="button" (click)="createAnnotation()"
                                label="Save"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
        <p-panel header="View Annotations" [collapsed]="annotationDialog.collapsed"
            (onBeforeToggle)="annotationCollapse()" [toggleable]="true">
            <div class="card" style="height:320px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                            <p-table [columns]="annotationsCols" [value]="annotationDialog.annotationsLines"
                                [paginator]="true" [rows]="10" [scrollable]="true" scrollHeight="300px">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" class="text-center">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="text-right" *ngFor="let col of columns" class="text-center">
                                            {{rowData[col.field]}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </p-dialog>
</div>

<div *ngIf="dialogName === 'consumptionGridView'">
    <p-dialog modal="true" [header]="consumptionGridView.title" [(visible)]="consumptionGridView.show"
        [style]="{width: '700px'}">
        <p-table #consumptionGrid [columns]="consumptionGridView.columnNames" [value]="consumptionGridView.gridData"
            [paginator]="consumptionGridView.paginator" [rows]="consumptionGridView.rows"
            [scrollable]="consumptionGridView.scrollable" scrollHeight="450px" draggable='true'>
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Download Data"
                        (click)="consumptionGrid.exportCSV()" style="float:right"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" class="text-center">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngClass]="col.field == 'DATE' ? 'text-center' : 'text-right'">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>
</div>

<div *ngIf="dialogName === 'maintenanceDays'">
    <p-dialog #maintenancePanel modal="true" header="Maintenance Days" [responsive]="true"
        [style]="{width: '800px', minWidth: '300px', height: '500px'}" [minY]="70" [baseZIndex]="10000"
        [(visible)]="maintenanceDays.show">
        <p-panel header="Maintenance Days Configurations" [collapsed]="!maintenanceDays.collapsed" [toggleable]="true"
            (onBeforeToggle)="maintenanceCollapse()">
            <div class="container" style="height: 400px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <p-calendar [(ngModel)]="maintenanceDays.dateValue" placeholder="Maintenance Date"
                                    [showIcon]="true" [readonlyInput]="true" (onSelect)="onDateValidation()">
                                </p-calendar>
                                <div *ngIf="maintenanceDays.isDateError">
                                    <label class="labelClass error-text">{{maintenanceDays.dateErrorMessage}}</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <textarea class="form-control" [(ngModel)]="maintenanceDays.textAreaValue"
                                    placeholder="Remark" rows="2" cols="28" pInputTextarea
                                    (keyup)="onRemarksValidation()"></textarea>
                                <div *ngIf="maintenanceDays.isRemarksError">
                                    <label class="labelClass error-text">{{maintenanceDays.remarksErrorMessage}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button [disabled]="maintenanceDays.isRemarksError || maintenanceDays.isDateError"
                                    pButton type="button" label="Add" (click)="onAddMaintenanceDays()"
                                    class="ui-button-primary" style="background-color: #007ad9;height:30px;"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card m-t-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="number" class="form-control" style="padding-left: 5px;" pInputText
                                    placeholder="Target Days" [(ngModel)]="maintenanceDays.targetDays" min="1"
                                    (change)="onTargetDaysValidation()" />
                                <div *ngIf="maintenanceDays.isTargetDaysError">
                                    <label
                                        class="labelClass error-text">{{maintenanceDays.targetDaysErrorMessage}}</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <button [disabled]="maintenanceDays.isTargetDaysError" pButton type="button"
                                    label="Save" (click)="addTargetDays()" class="ui-button-primary"
                                    style="background-color: #007ad9;height:30px;"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
        <p-panel header="List of Maintenance Days " [collapsed]="maintenanceDays.collapsed" [toggleable]="true"
            (onBeforeToggle)="maintenanceCollapse()">
            <div class="container">
                <div class="row" style="height: 260px;width:700px; " class="list_maintenances_remarks">
                    <div class="col-md-12">
                        <p-table [columns]="maintenanceDays.maintanenceDaysColumn"
                            [value]="maintenanceDays.maintanenceDayModel" selectionMode="multiple" editMode="row"
                            scrollHeight="150px" [rows]="5" [paginator]="true"
                            [(selection)]="maintenanceDays.selectedMaintenanceDay" dataKey="id"
                            [tableStyle]="{'table-layout':'auto'}">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 3em;">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th *ngFor="let col of columns" style="text-align: center">
                                        {{col.header}}
                                    </th>
                                    <th style="width: 2em; text-align:center;">
                                        User Action
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex"
                                let-editing="editing">
                                <tr [pEditableRow]="rowData">
                                    <td>
                                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                    </td>
                                    <td class=".ng-invalid.ng-dirty text-center" style="width: 90px;">
                                        {{rowData.maintainceDates}}
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <textarea [rows]="2" [cols]="30" [(ngModel)]="rowData.remarks"
                                                    style="width:100%; max-width:300px;" pInputTextarea
                                                    autoResize="autoResize"></textarea>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.remarks}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <!--
                                         <span style="width:100px;"></span>
                                         <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                            
                                                <input type="text" [(ngModel)]="rowData.remarks" style="width: 100%;"
                                                    class="ng-pristine ng-valid ng-star-inserted ng-touched">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.remarks}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    -->
                                    <td style="text-align:center; width: 180px; ">
                                        <button *ngIf="!editing" pButton type="button" pInitEditableRow
                                            icon="fa fa-pencil-square-o" label="Edit" class="ui-button-info"
                                            (click)="onRowEditInit(rowData)"></button>
                                        <button *ngIf="editing" pButton type="button" pSaveEditableRow
                                            icon="fa fa-check-square-o" label="Save" class="ui-button-success"
                                            style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                                        <button *ngIf="editing" pButton type="button" pCancelEditableRow
                                            icon=" fa fa-times" label="Cancel" class="ui-button-danger"
                                            (click)="onRowEditCancel()"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <button
                            [hidden]="maintenanceDays.selectedMaintenanceDay == undefined || !maintenanceDays.selectedMaintenanceDay.length"
                            pButton type="button" class="ui-button-primary" (click)="delMaintanenceDays()"
                            icon="fa fa-trash" label="Delete" iconPos="left"
                            style="height: 28px; margin-top: 8px;"></button>
                    </div>
                </div>
            </div>
        </p-panel>
    </p-dialog>
</div>

<div *ngIf="dialogName === 'addUser'">
    <form [formGroup]='userDetailForm' (ngSubmit)="onCreateUser()">
        <p-dialog modal="true" [responsive]="true" [style]="{width: '800px', minWidth: '200px'}" [baseZIndex]="10000"
            [(visible)]="userDetailForm.controls.show.value" [blockScroll]="true" [draggable]="true"
            [maximizable]="true">
            <p-header> <span class="dialog-header">Add New User</span> </p-header>
            <div class="row">
                <div class="col-sm-6">
                    <label class="edit-label required">First Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control edit-input" formControlName="firstName" maxlength="50" (change)="onInputChange('firstName')">
                        <span class="error-text"
                            *ngIf="!userDetailForm.get('firstName').valid && userDetailForm.get('firstName').touched && userDetailForm.get('firstName').errors?.required">
                            First name is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="edit-label required">Last Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control edit-input" formControlName="lastName" maxlength="50" (change)="onInputChange('lastName')">
                        <span class="error-text" *ngIf="!userDetailForm.get('lastName').valid && userDetailForm.get('lastName').touched 
                            && userDetailForm.get('lastName').errors?.required">
                            Last name is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="edit-label required">Email</label>
                    <div class="form-group">
                        <input type="email" class="form-control edit-input" formControlName="email" maxlength="100">
                        <span class="help-block"
                            *ngIf="!userDetailForm.get('email').valid && userDetailForm.get('email').touched">
                            <span *ngIf="userDetailForm.get('email').errors?.required" class="error-text">
                                Email is required</span>
                            <span *ngIf="userDetailForm.get('email').errors?.email" class="error-text">
                                Invalid email</span>
                            <span *ngIf="userDetailForm.get('email').errors?.emailExit" class="error-text">
                                Email already exists</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="edit-label">Phone</label>
                    <div class="form-group">
                        <input type="text" class="form-control edit-input" formControlName="phone" maxlength="20" (change)="onInputChange('phone')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="edit-label">Address</label>
                    <div class="form-group">
                        <input type="text" class="form-control edit-input" formControlName="address" maxlength="200" (change)="onInputChange('address')">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="edit-label">Country</label>
                    <div class="form-group">
                        <select class="form-control edit-input" style="height: 34px;"
                            (change)="onCountryChange($event.target.value)">
                            <option class="edit-input" selected value="">Select Country</option>
                            <option *ngFor="let country of userDetailForm.controls.countryList.controls"
                                class="edit-input" [value]="country.value.countryId"> {{country.value.countryName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="edit-label required">Username</label>
                    <div class="form-group">
                        <input type="text" class="form-control edit-input" formControlName="username" maxlength="50">
                        <span class="help-block"
                            *ngIf="!userDetailForm.get('username').valid && userDetailForm.get('username').touched">
                            <span *ngIf="userDetailForm.get('username').errors?.required" class="error-text">
                                Username is required</span>
                            <span *ngIf="userDetailForm.get('username').errors?.usernameExit" class="error-text">
                                Username already exists</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="edit-label">Department</label>
                    <div class="form-group">
                        <select class="form-control edit-input" style="height: 34px;"
                            (change)="onDepartmentChange($event.target.value)">
                            <option class="edit-input" selected value="">Select Department</option>
                            <option *ngFor="let department of userDetailForm.controls.departmentList.controls"
                                [value]="department.value.departmentId" class="edit-input">
                                {{department.value.departmentName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="edit-label required">Password</label>
                    <div class="form-group">
                        <input type="password" class="form-control edit-input" formControlName="password"
                            autocomplete="new-password" maxlength="50">
                        <span *ngIf="!userDetailForm.get('password').valid && userDetailForm.get('password').touched">
                            <span *ngIf="userDetailForm.get('password').errors.required" class="error-text">
                                Password is required</span>
                            <span *ngIf="userDetailForm.get('password').hasError('minlength')" class="error-text">
                                Password should be atleast 8 characters</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="edit-label required">Confirm Password</label>
                    <div class="form-group">
                        <input type="password" class="form-control edit-input" formControlName="confirmPassword"
                            maxlength="50">
                        <span
                            *ngIf="!userDetailForm.get('confirmPassword').valid && userDetailForm.get('confirmPassword').touched">
                            <span *ngIf="userDetailForm.get('confirmPassword').errors.required" class="error-text">
                                Confirm Password is required</span>
                            <span *ngIf="userDetailForm.get('confirmPassword').errors.mustMatch" class="error-text">
                                Passwords must match</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="table table-bordered" style="background: #f1f1f1;">
                    <div class="table-title text-center">
                        <span class="required role-head">Assign User Role</span>
                        <span
                            *ngIf="userDetailForm.controls.millRoles.controls.length < userDetailForm.controls.totalMills.value"
                            class="float-right m-r-5" (click)="onAddMillRole()">
                            <div #addMillRole style="display:inline-block;position:relative">
                                <em class="fa fa-user-plus fa-2x" pTooltip="Add Mill Role" [appendTo]="addMillRole"
                                    tooltipPosition="left"></em>
                            </div>
                        </span>
                    </div>
                    <thead class="m-t-5">
                        <tr>
                            <th class="text-center" style="width: 43%;">Mill</th>
                            <th class="text-center" style="width: 43%;">User Role</th>
                            <th class="text-center" style="width: 14%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let millRole of userDetailForm.controls.millRoles.controls; let i=index">
                            <td style="width: 43%;">
                                <select [disabled]="millRole.value.selectedMill.disabled"
                                    [class]="(millRole.value.millError.value !== '') ? 'form-control edit-input invalid' : 'form-control edit-input'"
                                    (change)="onMillChange($event.target.value, millRole)">
                                    <option class="edit-input" value="" disabled selected>Select Mill</option>
                                    <option *ngFor="let mill of millRole.value.mills.controls" class="edit-input"
                                        [value]="mill.value.millId">
                                        {{mill.value.millName}}</option>
                                </select>
                                <span class="error-text" *ngIf="(millRole.value.millError.value === '1')">Mill is
                                    required</span>
                                <span class="error-text" *ngIf="(millRole.value.millError.value === '2')">Mill is
                                    already selected</span>
                            </td>
                            <td style="width: 43%;">
                                <select [disabled]="millRole.value.selectedUserRole.disabled"
                                    [class]="(millRole.value.roleError.value !== '') ? 'form-control edit-input invalid' : 'form-control edit-input'"
                                    (change)="onUserRoleChange($event.target.value, millRole)">
                                    <option class="edit-input" value="" disabled selected>Select User Role</option>
                                    <option *ngFor="let userRole of millRole.value.userRoles.controls"
                                        [value]="userRole.value.userRoleId" class="edit-input">
                                        {{userRole.value.roleName}}
                                    </option>
                                </select>
                                <span class="error-text" *ngIf="(millRole.value.roleError.value !== '')">User role is
                                    required</span>
                            </td>
                            <td class="text-center">
                                <a (click)='onDeleteMillRole(i)'>
                                    <div #deleteMillRole style="display:inline-block;position:relative">
                                        <i class="fa fa-trash" [style.color]="(i === 0) ? '#9c9999': 'red'"
                                            pTooltip="Delete" tooltipPosition="left" [appendTo]="deleteMillRole"></i>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group m-t-30">
                <button type="submit" [disabled]="!userDetailForm.valid"
                    class="btn btn-primary btn-md float-right">Submit</button>
                <button type="button" (click)="onUserDetailCancel()"
                    class="btn btn-danger btn-md float-right m-r-5">Cancel</button>
            </div>
        </p-dialog>
    </form>
</div>

<div *ngIf="dialogName === 'userRole'">
    <form [formGroup]='userRoleForm' (ngSubmit)="onUserRoleSubmit()">
        <p-dialog modal="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [baseZIndex]="10000"
            [(visible)]="userRoleForm.controls.show.value" [blockScroll]="true" [draggable]="true" [maximizable]="true">
            <p-header> <span class="dialog-header">{{userRoleForm.controls.operation.value}} User Role</span>
            </p-header>
            <div class="row">
                <div class="col-sm-12">
                    <label class="edit-label required">Role Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control edit-role" formControlName="roleName">
                        <span class="help-block"
                            *ngIf="!userRoleForm.get('roleName').valid && userRoleForm.get('roleName').touched">
                            <span *ngIf="userRoleForm.get('roleName').errors?.required" class="error-text">
                                Role name is required</span>
                            <span *ngIf="userRoleForm.get('roleName').errors?.userRoleExit" class="error-text">
                                Role name already exists</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="edit-label">Description</label>
                    <div class="form-group">
                        <textarea type="text" class="form-control edit-role" rows="4"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="statusSwitch" formControlName="active">
                        <label class="custom-control-label edit-label" for="statusSwitch">Active</label>
                    </div>
                    <span *ngIf="userRoleForm.controls.userExistError.value !== ''" class="error-text">
                        {{userRoleForm.controls.userExistError.value}}
                    </span>
                </div>
            </div>
            <div class="form-group m-t-30">
                <button type="submit" [disabled]="!userRoleForm.valid"
                    class="btn btn-primary btn-md float-right">Submit</button>
                <button type="button" (click)="onUserRoleCancel()"
                    class="btn btn-danger btn-md float-right m-r-5">Cancel</button>
            </div>
        </p-dialog>
    </form>
</div>

<p-toast [baseZIndex]="12000" [style]="{marginTop: '20px'}"></p-toast>