<div *ngIf="users.length  > 0">
  <p-table #user [columns]="cols" [value]="users" [paginator]="true" [rows]="11" dataKey="userId"
    [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="false" sortField="firstName" sortOrder="1"
    rowExpandMode="single">
    <ng-template pTemplate="caption">
      <div class="text-right">
        <span class="m-r-20" (click)="user.exportCSV()">
          <em class="fa fa-download fa-2x" style="color: #333333"></em>
        </span>
        <span class="m-l-5" (click)="onCreateUser()">
          <em class="fa fa-user-plus fa-2x"></em>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr class="text-center">
        <th style="width: 6%;"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
          [style.width]="(col.header === 'Status') ? '8%' : ''">
          <p-sortIcon [field]="col.field"></p-sortIcon>
          {{col.header}}
        </th>
      </tr>
      <tr class="text-center">
        <th style="width: 6%;"><i class="fa fa-search"></i></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
          <input *ngIf="col.field !== 'active'" pInputText type="text"
            (input)="user.filter($event.target.value, col.field, col.filterMatchMode)"
            [value]="user.filters[col.field]?.value">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
      <tr [pSelectableRow]="rowData" class="text-center">
        <td>
          <a href="#" (click)="expandUserDetail(rowData.userId)" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>
        <td *ngFor="let col of columns">
          <div *ngIf="col.field !== 'millRoles' && col.field !== 'active'" class="td-user">
            {{rowData[col.field]}}
          </div>
          <div *ngIf="col.field === 'millRoles'">
            <span class="label label-info td-user">{{rowData[col.field][0].selectedUserRole.roleName}}</span>
          </div>
          <div *ngIf="col.field === 'active' " class="td-user" [style.color]="(rowData[col.field]) ? '#28a745' : 'red'">
            <i class="fa fa-circle font-10 m-r-10 "></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div class="card">
            <div class="card-body" style="background: #efefef;">
              <div class="card-title text-right" style="border-bottom: 1px solid #cccccc;">
                <span *ngIf="!rowData.isReadOnly" class="font-20 m-r-20" style="color: #3e3e3e;"
                  (click)="onEdit(rowData.userId)"><i class="fa fa-edit"></i></span>
                <span *ngIf="rowData.isReadOnly" class="font-20 m-r-20" style="color: #398bf7;"><i class="fa fa-save"
                    (click)="onSave(rowData)"></i></span>
                <span *ngIf="rowData.isReadOnly" class="font-20 m-r-20" style="color: red;"><i class="fa fa-remove"
                    (click)="onCancel(rowData)"></i></span>
              </div>
              <div *ngIf="userDetailForm !== undefined" class="m-t-5">
                <form [formGroup]='userDetailForm' (ngSubmit)="onUserDetialSubmit()">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="firstName">First Name:</label>
                          <input class="col-md-8 form-control" type="text" id="firstName" formControlName="firstName"
                            [readonly]="!rowData.isReadOnly">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="role">Department</label>
                          <select class="col-md-8 form-control" name="" [disabled]="!rowData.isReadOnly">
                            <option *ngFor="let department of userDetailForm.controls.departmentList.controls"
                              [selected]="(department.value.departmentName === userDetailForm.controls.department.value)"
                              class="edit-input">
                              {{department.value.departmentName}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="lastName">Last Name:</label>
                          <input class="col-md-8 form-control" type="text" id="lastName" formControlName="lastName"
                            [readonly]="!rowData.isReadOnly">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="address">Address:</label>
                          <input class="col-md-8 form-control" type="text" id="address" formControlName="address"
                            [readonly]="!rowData.isReadOnly">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="email">Email:</label>
                          <input class="col-md-8 form-control" type="text" id="email" formControlName="email"
                            [readonly]=" !rowData.isReadOnly">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="country">Country:</label>
                          <select class="col-md-8 form-control" name="" [disabled]="!rowData.isReadOnly">
                            <option *ngFor="let country of userDetailForm.controls.countryList.controls"
                              [selected]="(country.value.countryName === userDetailForm.controls.country.value)"
                              class="edit-input">{{country.value.countryName}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="phone">Phone:</label>
                          <input class="col-md-7 form-control" type="text" formControlName="phone"
                            [readonly]="!rowData.isReadOnly">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="status">Status:</label>
                          <select class="col-md-7 form-control" name="" id="status" [disabled]="!rowData.isReadOnly">
                            <option [selected]="rowData.active" value="true">Active</option>
                            <option [selected]="!rowData.active" value="false">InActive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="table-wrapper">
                        <div class="table-title text-center">
                          <span class="float-right m-r-5" (click)="onAddMillRole(!rowData.isReadOnly)">
                            <em class="fa fa-user-plus fa-2x" style="font-size: 21px;"
                              [style.color]="(!rowData.isReadOnly) ? '#9c9999': '#333333'  "></em>
                          </span>
                        </div>
                        <table class="table table-bordered" style="background: #f1f1f1;">
                          <thead class="m-t-5">
                            <tr>
                              <th style="width: 30%;font-size: 10pt;">Mill</th>
                              <th style="width: 55%;font-size: 10pt;">User Role</th>
                              <th style="width: 15%;font-size: 10pt;">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let millRole of userDetailForm.controls.millRoles.controls; let i = index;">
                              <td style="width: 30%;">
                                <select [disabled]="!rowData.isReadOnly" class="form-control edit-input"
                                  style="height: 30px;">
                                  <option *ngIf="millRole.value.selectedMill.value === null" disabled selected>
                                    Select Mill</option>
                                  <option *ngFor="let mill of userDetailForm.controls.mills.controls" class="edit-input"
                                    [selected]="(millRole.value.selectedMill.value !== null && mill.value.millName === millRole.value.selectedMill.value.millName)">
                                    {{mill.value.millName}}</option>
                                </select>
                              </td>
                              <td style="width: 55%;">
                                <select [disabled]="!rowData.isReadOnly" class="form-control edit-input"
                                  style="height: 30px;">
                                  <option *ngIf="millRole.value.selectedUserRole.value === null" disabled selected>
                                    Select User Role</option>
                                  <option *ngFor="let userRole of userDetailForm.controls.userRoles.controls"
                                    [selected]="(millRole.value.selectedUserRole.value !== null && userRole.value.roleName === millRole.value.selectedUserRole.value.roleName)"
                                    class="edit-input">{{userRole.value.roleName}}</option>
                                </select>
                              </td>
                              <td class="text-center">
                                <a (click)='onDeleteMillRole(i, !rowData.isReadOnly)'><i class="fa fa-trash"
                                    style="font-size: 21px;"
                                    [style.color]="(!rowData.isReadOnly) ? '#9c9999': 'red'"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>