<div *ngIf="users.length  > 0">
  <p-table #user [columns]="cols" [value]="users" [paginator]="true" [rows]="11" dataKey="userId"
    [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="false" sortField="firstName" sortOrder="1"
    rowExpandMode="single">
    <ng-template pTemplate="caption">
      <div class="text-right">
        <span class="m-r-20" (click)="user.exportCSV()">
          <em class="fa fa-download fa-2x" style="color: #333333" pTooltip="Download" tooltipPosition="top"></em>
        </span>
        <span class="m-l-5" (click)="onCreateUser()">
          <em class="fa fa-user-plus fa-2x" pTooltip="Add User" tooltipPosition="top"></em>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr class="text-center">
        <th style="width: 6%;"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
          [style.width]="(col.header === 'Active') ? '8%' : ''">
          <p-sortIcon [field]="col.field" pTooltip="Sort" tooltipPosition="top"></p-sortIcon>
          {{col.header}}
        </th>
      </tr>
      <tr class="text-center">
        <th style="width: 6%;"><i class="fa fa-search" pTooltip="Search" tooltipPosition="top"></i></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
          <input *ngIf="col.field !== 'active'" pInputText type="text"
            (input)="user.filter($event.target.value, col.field, col.filterMatchMode)"
            [value]="user.filters[col.field]?.value">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
      <tr [pSelectableRow]="rowData" class="text-center">
        <td>
          <a href="#" (click)="expandUserDetail(rowData.userId)" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" pTooltip="Expand"
              tooltipPosition="left"></i>
          </a>
        </td>
        <td *ngFor="let col of columns">
          <div *ngIf="col.field !== 'millRoleSortName' && col.field !== 'active'" class="td-user pull-left">
            {{rowData[col.field]}}
          </div>
          <div *ngIf="col.field === 'millRoleSortName'">
            <span class="label label-info td-user">{{rowData[col.field]}}</span>
          </div>
          <div *ngIf="col.field === 'active' " class="td-user" [style.color]="(rowData[col.field]) ? '#28a745' : 'red'">
            <i class="fa fa-circle font-10 m-r-10 " [pTooltip]="(rowData[col.field]) ? 'Active' : 'InActive'"
              tooltipPosition="top"></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div class="card">
            <div class="card-body" style="background: #efefef;">
              <div class="card-title text-right" style="border-bottom: 1px solid #cccccc;">
                <span *ngIf="userDetailForm.disabled" class="font-20 m-r-20" style="color: #3e3e3e;"
                  (click)="onEdit(rowData.userId)"><i class="fa fa-edit" pTooltip="Edit"
                    tooltipPosition="top"></i></span>
                <span *ngIf="!userDetailForm.disabled" class="font-20 m-r-20"
                  [style.color]="(userDetailForm.invalid) ? '#9c9999':'#398bf7'" pTooltip="Save"
                  tooltipPosition="top"><i class="fa fa-save" (click)="onUpdateUser(rowData.userId)"></i></span>
                <span *ngIf="!userDetailForm.disabled" class="font-20 m-r-20" style="color: red;"><i
                    class="fa fa-remove" pTooltip="Cancel" tooltipPosition="top" (click)="onCancel(rowData)"></i></span>
              </div>
              <div *ngIf="userDetailForm !== undefined" class="m-t-5">
                <form [formGroup]='userDetailForm'>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label required" style="padding-right: 0" for="firstName">First
                            Name:</label>
                          <input class="col-md-8 form-control" type="text" id="firstName" formControlName="firstName"
                            maxlength="50">
                          <span class="error-text"
                            *ngIf="!userDetailForm.get('firstName').valid && userDetailForm.get('firstName').touched && userDetailForm.get('firstName').errors?.required">
                            First name is required
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" style="padding-right: 0" for="role">Department</label>
                          <select class="col-md-8 form-control" [disabled]="userDetailForm.controls.disableSelect.value"
                            (change)="onDepartmentChange($event.target.value)">
                            <option class="edit-input" selected value="">Select Department</option>
                            <option *ngFor="let department of userDetailForm.controls.departmentList.controls"
                              [selected]="(userDetailForm.controls.department.value !== null && department.value.departmentId === userDetailForm.controls.department.value.departmentId)"
                              class="edit-input" [value]="department.value.departmentId">
                              {{department.value.departmentName}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label required" style="padding-right: 0" for="lastName">Last
                            Name:</label>
                          <input class="col-md-8 form-control" type="text" id="lastName" formControlName="lastName"
                            maxlength="50">
                          <span class="error-text" *ngIf="!userDetailForm.get('lastName').valid && userDetailForm.get('lastName').touched 
                            && userDetailForm.get('lastName').errors?.required">
                            Last name is required
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="address">Address:</label>
                          <input class="col-md-8 form-control" type="text" id="address" formControlName="address"
                            maxlength="200">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label required" for="email">Email:</label>
                          <input class="col-md-8 form-control" type="text" id="email" formControlName="email"
                            maxlength="100">
                          <span class="error-text"
                            *ngIf="!userDetailForm.get('email').valid && userDetailForm.get('email').touched">
                            <span *ngIf="userDetailForm.get('email').errors?.required">
                              Email is required</span>
                            <span *ngIf="userDetailForm.get('email').errors?.email">
                              Invalid email</span>
                            <span *ngIf="userDetailForm.get('email').errors?.emailExit">
                              Email already exists</span>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="country">Country:</label>
                          <select class="col-md-8 form-control" name=""
                            [disabled]="userDetailForm.controls.disableSelect.value"
                            (change)="onCountryChange($event.target.value)">
                            <option class="edit-input" selected value="">Select Country</option>
                            <option *ngFor="let country of userDetailForm.controls.countryList.controls"
                              [selected]="(userDetailForm.controls.country.value !== null && country.value.countryId === userDetailForm.controls.country.value.countryId)"
                              class="edit-input" [value]="country.value.countryId">{{country.value.countryName}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="phone">Phone:</label>
                          <input class="col-md-7 form-control" type="text" formControlName="phone" maxlength="20">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-md-4 table-label" for="status">Status:</label>
                          <select class="col-md-7 form-control" name="" id="statusSelect"
                            [disabled]="userDetailForm.controls.disableSelect.value"
                            (change)="onUserStatusChange($event.target.value, rowData)">
                            <option [selected]="userDetailForm.controls.active.value" value="true">Active</option>
                            <option [selected]="!userDetailForm.controls.active.value" value="false">InActive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="table-wrapper">
                        <div class="table-title text-center">
                          <span
                            *ngIf="userDetailForm.controls.millRoles.controls.length < userDetailForm.controls.totalMills.value"
                            class="float-right m-r-5" (click)="onAddMillRole()">
                            <em class="fa fa-user-plus fa-2x" style="font-size: 21px;" pTooltip="Add Mill Role"
                              tooltipPosition="right"
                              [style.color]="(userDetailForm.disabled) ? '#9c9999': '#333333'"></em>
                          </span>
                        </div>
                        <table class="table table-bordered" style="background: #f1f1f1;">
                          <thead class="m-t-5">
                            <tr>
                              <th class="text-center" style="width: 43%;font-size: 10pt;">Mill</th>
                              <th class="text-center" style="width: 43%;font-size: 10pt;">User Role</th>
                              <th class="text-center" style="width: 14%;font-size: 10pt;">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let millRole of userDetailForm.controls.millRoles.controls; let i = index;">
                              <td style="width: 43%;">
                                <select
                                  [disabled]="userDetailForm.controls.disableSelect.value || millRole.value.selectedMill.disabled"
                                  [class]="(millRole.value.millError.value !== '') ? 'form-control edit-input invalid' : 'form-control edit-input'"
                                  style="height: 30px;" (change)="onMillChange($event.target.value, millRole)">
                                  <option class="edit-input" disabled selected>Select Mill</option>
                                  <option *ngFor="let mill of millRole.value.mills.controls" class="edit-input"
                                    [value]="mill.value.millId"
                                    [selected]="(millRole.value.selectedMill.value !== null && mill.value.millName === millRole.value.selectedMill.value.millName)">
                                    {{mill.value.millName}}</option>
                                </select>
                                <span class="error-message" *ngIf="(millRole.value.millError.value === '1')">Mill is
                                  required</span>
                                <span class="error-message" *ngIf="(millRole.value.millError.value === '2')">Mill is
                                  already selected</span>
                              </td>
                              <td style="width: 43%;">
                                <select
                                  [disabled]="userDetailForm.controls.disableSelect.value || millRole.value.selectedUserRole.disabled"
                                  [class]="(millRole.value.roleError.value !== '') ? 'form-control edit-input invalid' : 'form-control edit-input'"
                                  style="height: 30px;" (change)="onUserRoleChange($event.target.value, millRole)">
                                  <option class="edit-input" disabled selected>Select User Role</option>
                                  <option *ngFor="let userRole of millRole.value.userRoles.controls" class="edit-input"
                                    [selected]="(millRole.value.selectedUserRole.value !== null && userRole.value.roleName === millRole.value.selectedUserRole.value.roleName)"
                                    [value]="userRole.value.userRoleId">{{userRole.value.roleName}}
                                  </option>
                                </select>
                                <span class="error-message" *ngIf="(millRole.value.roleError.value !== '')">User role is
                                  required</span>
                              </td>
                              <td class="text-center">
                                <a (click)='onDeleteMillRole(i)'>
                                  <i class="fa fa-trash" style="font-size: 21px;" pTooltip="Delete"
                                    tooltipPosition="right"
                                    [style.color]="(userDetailForm.disabled || i === 0) ? '#9c9999': 'red'"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>